/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_material-kit
 *= require_demo
 *= require_self
 */

.page-header_par{
	background-image: url('bg2.jpg');
}

.navigation-example{
	background-image: url('bg.jpg');
}

.section-signup{
	background-image: url('city.jpg');
}

.page-header_landing{
	background-image: url('profile_city.jpg');
}

.page-header_login{
	background-image: url('bg7.jpg'); 
	background-size: cover; 
	background-position: top center;
}

.page-header_profile{
	background-image: url('city-profile.jpg');
}